body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #008835;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.menu {
    background-color: #444;
    text-align: center;
    padding: 10px;
}
.menu a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

/*.card img {
    max-width: 100%;
    height: auto;
}
*/

.floating-card {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    max-width: 100%;
    height: auto;
}

/*.floating-card img {
    max-width: 100%;
    height: auto;
}
*/
.charts-container {
    background-color: #fff;
    padding: 10px 20px 10px 0; /* Padding (top, right, bottom, left) */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 20%;
    margin: 0 auto; /* Center the canvas horizontally */
    display: flex;
}

.chart-container {
    flex: 1;
}

.chart-canvas {
    width: 80%;
    height: auto;
}


.card-img-container {
    position: relative;
    text-align: center;
    color: white;
}


.top-left {
    position: absolute;
    top: 0%;
    left: 0%;
    color: black;
    background: white;
    padding: 8px;
    font-size: 20px;
    border-radius: 10px; /* Add a border radius for rounded corners */
    border: 3px solid black; /
  }


.top-right {
    position: absolute;
    top: 0%;
    right: 0%;
    color: white;
    background: white;
    padding: 8px;
    font-size: 20px;
    border-radius: 10px; /* Add a border radius for rounded corners */
    border: 3px solid black; /
  }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    text-align: center; /* Center the children horizontally */
}

.search-container {
    margin: 10px auto;
    background-color: #b6aeae;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%; /* Adjust the width as needed */
}

.card-footer-container {
    color: black;
    text-align: center;
}